body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url('../../assets/img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    padding: 20px; /* Espaçamento interno */
    background-color: #f8f9fa; /* Cor de fundo clara */
    height: 100vh; /* Altura da tela */
    overflow-y: auto; /* Permite scroll vertical se o conteúdo exceder a altura */

}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-message {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

.highlight-row:hover {
    background-color: #f0f8ff !important;
}

.server-icons {
    text-align: center;
    margin-top: 20px;
}

.server-link {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.server-link:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.server-icon {
    font-size: 50px;
    cursor: pointer;
    color: #007bff;
    transition: transform 0.3s ease;
}

.server-description {
    margin-top: 5px;
    font-size: 16px;
    color: #000;
}

.welcome-message {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.login-container {
    width: 80%;
    margin: 0 auto;
}

#videoPlayer {
    margin-top: 20px;
}

.alert {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    z-index: 1050;
    display: none;
}

.useful-links {
    text-align: center;
    margin-top: 40px;
}

.useful-title {
    font-size: 24px;
    font-weight: bold;
    /* color: #007bff; */
    margin-bottom: 20px;
}

.link-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease;
}

.link-item:hover {
    transform: scale(1.2);
}

.link-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.link-description {
    font-size: 16px;
    color: #000;
}

#searchField {
    max-width: 200px;
}
