body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url('../../assets/img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sidebar {
    position: fixed; /* Mantém a sidebar fixa */
    top: 0;
    left: 0;
    width: 200px; /* Largura fixa */
    height: 100vh; /* Altura da tela */
    background-color: #343a40; /* Cor de fundo */
    z-index: 1000; /* Coloca a sidebar acima de outros elementos */
    flex-direction: column; /* Layout em coluna */
    padding-top: 20px; /* Espaçamento superior */
    overflow-y: auto; /* Permite o scroll vertical */
}

.logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.menu-container {
    width: 100%;
    overflow-y: auto; /* Garante que o menu interno também permita scroll, se necessário */
}

.menu-link:not(.submenu) {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    width: 100%;
    background-color: #343a40;
    transition: background-color 0.3s, color 0.3s;
}

.menu-link:not(.submenu):hover {
    background-color: #007bff;
    color: #fff;
}

.menu-link:not(.submenu).active {
    background-color: #007bff;
    color: #fff;
}

.submenu {
    display: none;
    padding-left: 20px;
    background-color: #3c4248;
}

.submenu .menu-link {
    background-color: #3c4248;
}

.submenu .menu-link:hover {
    background-color: #4c5258;
}

.submenu .menu-link:hover,
.submenu .menu-link.active {
    color: #fff;
    text-decoration: none;
}
